<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOMO Visualization</title>
    <style>
        .graph-container {
            text-align: center;
            margin-bottom: 50px;
        }
        .graph-container img {
            width: 60%;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <div class="graph-container">
        <h2>Pie Chart: Depression Distribution</h2>
        <img src="data:image/png;base64,{{ pie_plot_url }}" alt="Pie Chart - depression Distribution">
    </div>

    <div class="graph-container">
        <h2>Bar Plot: Depression Distribution</h2>
        <img src="data:image/png;base64,{{ bar_plot_url }}" alt="Bar Plot - depression Distribution">
    </div>

  
    <div style="text-align: center;">
        <a href="{{ url_for('admin_dashboard') }}" style="padding: 10px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px;">Back to Dashboard</a>
    </div>
</body>
</html>
