<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManoShakthi</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <!-- Navbar -->
    <header>
        <div class="navbar">
            <div class="logo">
                <h2>ManoShakthi</h2>
            </div>
            <ul class="nav-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#s">Contact</a></li>
                <li class="dropdown">
                    <a href="#">Login</a>
                    <div class="dropdown-content">
                        <a href="/login">Student</a>
                        <a href="/admin_login">Admin</a>
                        <a href="/parent_login">Parent</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#">Registration</a>
                    <div class="dropdown-content">
                        <a href="/studentreg">Student</a>
                        
                        <a href="/register_parent">Parent</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <!-- Main Section -->
    <main>
        <div class="welcome-section">
            <h1>Welcome to ManoShakthi</h1>
            <p>Your one-stop solution for student psychological health assessments.</p>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 ManoShakthi. All rights reserved.</p>
    </footer>
</body>

</html>